@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap');

.header-line {
  background-image: url('./assets/jabong/top.png');
  height: 5px;
}

.navigation {
  margin-top: 10px;
}

.brand-logo {
  height: 50px;
}

.navbar-nav li {
  text-transform: uppercase;
  margin: 0 0 0 40px;
}

.navbar-navs li {
  list-style-type: none !important;
  margin: 0 0 0 40px;
}

.navbar-navs li a {
  text-decoration: none;
}

.login {
  width: 120px;
  border: 2px solid #000;
  border-radius: 300px !important;
}

/* Header part Start Here*/
section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section h1 {
  font-family: 'DM Serif Display';
  font-weight: 500;
  color: #000000;
  margin-bottom: 20px;
}

section p {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}

.signup {
  width: 183px;
  height: 61px;
  background: #FFFFFF;
  border: 4px solid #EF8094 !important;
  box-sizing: border-box;
  border-radius: 300px !important;
}

.hero {
  margin-top: 4%;
  background: url(./assets//jabong/herobg.png);
  z-index: 110;
}

.img-div {
  z-index: 9999;
}

.hero-container {
  z-index: 9;
  margin-top: 10%;
}

.pensil {
  z-index: -9;
  top: 375px;
  right: 12%;
  position: absolute;
}

/* Header End Here */

/* section start here */

.card-body {
  border: 5px solid rgba(184, 176, 176, 0.349);
  padding: 60px !important;
}

.card-month-background {
  background-image: url(./assets/jabong/vector1.png);
}

.card-year-background {
  background-image: url(./assets/jabong/vector.png);
}

.btn-box {
  margin-top: 10px;
  width: 179px;
  color: #fff !important;
  height: 40px;
  font-weight: 800 !important;
  background: #EF8094 !important;
  box-sizing: border-box !important;
  border-radius: 300px !important;
}

.btn-boxs {
  margin-top: 10px;
  color: rgb(8, 1, 1) !important;
  height: 40px;
  width: 200px;
  font-weight: 300 !important;
  border: 2px solid #EF8094 !important;
  box-sizing: border-box !important;
  border-radius: 300px !important;
}

/* Section End Here */

/* Works start Here */
.works {
  margin-top: 8rem;
}

.work-row {
  margin-top: 5% !important;
  margin-left: 10% !important;
}

.art-img {
  position: absolute;
  left: 20%;
  z-index: -1;
}

.work-header {
  margin-top: 4rem;
  width: 400px !important;
  position: absolute;
  right: 45rem;

}
.sec, .sec div h1{
  font-family: 'DM Serif Display';
}

.work-text {
  margin: 5% 0 0 0 !important;
}

.work-one {
  position: absolute;
  padding: 40px 0px 0px 20px !important;
}

.workGroup-one {
  right: 45rem;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 140rem;
}

.workGroup-text>img {
  position: absolute;
  top: 155rem;
  left: 72vh;
}

.workGroup-header {
  left: 50rem;
  width: 350px;
  position: absolute;
  margin-top: 16vh;
  margin-right: 100px;
}

.artboxcolomn {
  position: absolute;
  left: 70vh;
  top: 145rem;
  z-index: -1;
}

.img-work {
  height: 300px !important;
}

.arts-img {
  z-index: -1;
  position: absolute;
  left: 41rem;
  top: 193rem;
}

.headerGroups {
  margin-top: 25rem;
}

.three-work {
  position: absolute;
  top: 180rem;
}

.artImg {
  z-index: -1;
  left: 32rem;
  position: absolute;
  top: 193rem;
}

.workHeader {
  margin-top: 4rem;
  width: 400px !important;
  position: absolute;
  right: 50rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}

.cardWrapper {
  padding-top: 2%;
}

.text img {
  width: 380px;
}

.grid>article {
  padding: 5% 0;
  border-radius: 20px;
}

article .mt-2 {
  margin-left: 4rem;
  font-size: 2rem;
  text-align: left;
}


/* ================+Footer Start ================== */
.footer {
  margin: 0 0 0 0px;
}

.footer .footer-top {
  padding: 60px 0 30px 0
}

.footer .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700
}

.footer .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0)
}

.social-links a {
  padding: 8px 0;
  margin-right: 4px;

}

.footer .social-links a:hover {
  background: #e96b56;
  color: rgb(7, 1, 1);
  text-decoration: none
}

.footer .footer-top h4 {
  font-size: 18px;
  font-weight: 00;
  margin: 0 0 0 2.4rem !important;
  color: rgb(8, 5, 5);
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px
}

.footer .footer-top .footer-links {
  margin-bottom: 30px
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.footer-links ul li {
  list-style-type: none;
  padding-right: 2px;
  color: #ec7f6d;
  font-size: 18px;
  line-height: 1
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0
}

.footer-links ul li a {
  list-style-type: none !important;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  display: inline-block;
  line-height: 1
}


.footer .footer-top .footer-contact {
  margin-bottom: 30px
}

.footer .footer-top .footer-contact p {
  line-height: 26px
}

.s-link li a {
  list-style-type: none !important;
}

.icons {
  text-align: right !important;
}

.social-links a i {
  font-size: 2rem;
  color: #000;
  margin: 10px;
}

.footer .nav-item {
  margin: 10px;
  text-decoration: none;
  list-style-type: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.12em;
}

.cardSection {
  margin-top: 5rem;
  background: url(./assets//jabong/herobg.png);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hero {
    margin-top: 10%;
    background: url(./assets//jabong/herobg.png);
    z-index: 110;
  }

  .data {
    flex: 0 0 auto;
    width: 55.333333% !important;
  }

  .box-image {
    width: 500px;
    left: 315px;
    position: absolute;
    top: 244px;
  }

  .pensil {
    display: none;
  }

  .art-img {
    position: absolute;
    left: 13%;
    z-index: -1;
  }

  .workGroup-text {
    padding: 50px;
  }

  .workGroup-one img {
    top: -38vh;
    left: 150px;
    position: absolute;
    width: 360px;
  }

  .workGroup-text>img {
    position: absolute;
    top: 123rem;
    left: 18vh;
  }

  .artboxcolomn {
    position: absolute;
    left: 16vh;
    top: 113rem;
    z-index: -1;
  }

  .workGroup-header {
    width: 300px;
    margin-top: 7vh;
    margin-right: 0;
    position: absolute;
    left: 340px;
  }

  .work-header {
    margin-top: 4rem;
    width: 305px !important;
    position: absolute;
    right: 0rem;
  }

  .workHeader {
    margin-top: 4rem;
    width: 305px !important;
    position: absolute;
    right: 5rem;
  }

  .three-work {
    position: absolute;
    top: 156rem;
  }

  .artImg {
    z-index: -1;
    left: 17rem;
    position: absolute;
    top: 168rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 0fr));
    grid-gap: 20px;
  }

  article .mt-2 {
    margin-left: 4rem;
    font-size: 1.5rem;
    text-align: left;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .box-image {
    margin-top: 10%;
    width: 360px;
  }

  .card-body {
    margin: 20px;
  }

  .pensil {
    display: none;
  }

  .work-img img {
    width: 300px !important;
  }

  .workGroup-one {
    right: 0rem;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 160rem;
  }

  .workGroup-one>img {
    width: 100%;
  }

  .art-img {
    position: absolute;
    left: 0%;
    z-index: -1;
  }

  .workGroup-img>img {
    display: none;
  }

  .workGroup {
    margin-top: 15rem;
  }

  .artboxcolomn {
    position: absolute;
    left: 0vh;
    top: 165rem;
    z-index: -1;
  }

  .workGroup-text>img {
    position: absolute;
    top: 150rem;
    left: 7vh;
  }

  .workGroup-header {
    left: 2rem;
    width: 350px;
    position: absolute;
    margin-top: 40vh;
    margin-right: 100px;
  }

  .work-header {
    margin-top: 4rem;
    width: 305px !important;
    position: absolute;
    right: 0rem;
  }

  .three-work {
    position: absolute;
    top: 200rem;
  }

  .headerGroups {
    margin-top: 45rem;
  }

  .artImg {
    z-index: -1;
    left: 12rem;
    position: absolute;
    top: 193rem;
    margin-top: 15rem;
  }

  .workGroup-header {
    left: 2rem;
    width: 350px;
    position: absolute;
    margin-top: 70vh;
    margin-right: 100px;
  }

  .workHeader {
    margin-top: 4rem;
    width: 350px !important;
    position: absolute;
    right: 0rem;
  }

  .cardSection {
    margin-top: 10rem;
  }

  .btn-boxs {
    margin-top: 15rem;
  }
}